@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(to right, #210045, #0c0123);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-image: linear-gradient(to right, #210045, #0c0123);
  /* background-repeat: no-repeat; */
  background-size: cover;
}

@media (max-width: 500px) {
  .mantine-1abbsss {
    -webkit-tap-highlight-color: #210045;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 3pxrgba (0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 0px 28px 23px -7px,
      rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
    position: absolute;
    width: 80%;
    outline: 0;
    background-color: #210045;
    z-index: 1;
    margin-left: calc(var(--removed-scroll-width, 0px) * -1);
    padding: 20px;
    height: 130vh;
    top: 0;
    right: 0;
    background-color: #210045;
  }
}
@media (max-width: 500px) {
  .rounder {
    width: 5em;
    height: 5em;
    top: 10em;
    left: 2em;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #75108f 10%, #0c0123 90%);
  }
  .rounder2 {
    width: 4em;
    height: 4em;
    top: 8rem;
    left: 17rem;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #2d4c96 10%, #270f5a 75%);
  }
  .rounder4 {
    width: 4em;
    height: 4em;
    top: 2rem;
    left: 3rem;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #2d4c96 10%, #270f5a 75%);
  }
  .rounder3 {
    width: 6em;
    height: 6em;
    top: 70%;
    left: 2rem;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #80560e 10%, #3a2606 75%);
  }
}
@media (min-width: 501px) {
  .mantine-1abbsss {
    -webkit-tap-highlight-color: #210045;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 3pxrgba (0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 0px 28px 23px -7px,
      rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
    position: absolute;
    width: 50%;
    outline: 0;
    background-color: #210045;
    z-index: 1;
    margin-left: calc(var(--removed-scroll-width, 0px) * -1);
    padding: 20px;
    height: 130vh;
    top: 0;
    right: 0;
    background-color: #210045;
  }
}
@media (min-width: 801px) {
  .mantine-1abbsss {
    -webkit-tap-highlight-color: #210045;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 3pxrgba (0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 0px 28px 23px -7px,
      rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
    position: absolute;
    width: 40%;
    outline: 0;
    background-color: #210045;
    z-index: 1;
    margin-left: calc(var(--removed-scroll-width, 0px) * -1);
    padding: 20px;
    height: 130vh;
    top: 0;
    right: 0;
    background-color: #210045;
  }
}
@media (min-width: 501px) {
  .rounder {
    width: 5em;
    height: 5em;
    top: 7em;
    left: 8.5em;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #75108f 10%, #0c0123 90%);
  }
  .rounder2 {
    width: 4em;
    height: 4em;
    top: 18rem;
    left: 28rem;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #2d4c96 10%, #270f5a 75%);
  }
  .rounder4 {
    width: 4em;
    height: 4em;
    top: 20rem;
    left: 10rem;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #2d4c96 10%, #270f5a 75%);
  }
  .rounder3 {
    width: 6em;
    height: 6em;
    top: 100%;
    left: 26rem;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #80560e 10%, #3a2606 75%);
  }
}
@media (min-width: 801px) {
  .rounder {
    width: 5em;
    height: 5em;
    top: 7em;
    left: 8.5em;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #75108f 10%, #0c0123 90%);
  }
  .rounder2 {
    width: 4em;
    height: 4em;
    top: 18rem;
    left: 45rem;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #2d4c96 10%, #270f5a 75%);
  }
  .rounder4 {
    width: 4em;
    height: 4em;
    top: 20rem;
    left: 10rem;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #2d4c96 10%, #270f5a 75%);
  }
  .rounder3 {
    width: 6em;
    height: 6em;
    top: 100%;
    left: 26rem;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #80560e 10%, #3a2606 75%);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




@media (min-width: 501px) {
  .fter{
   position: relative;
   top: 200px;
  }
 }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: white;
  background-image: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: -30px;
  top: 20px;
  color: #000;
  position: absolute;
  border: none;
  outline: none;
}


@media (max-width: 501px) {
  .container {
    /* transform: translate(55%, 10%);  */
    height: 145px;
    width: 300px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 1000px 1000px 0 0;
    position: absolute;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    border: rgb(108, 108, 108) solid 0.7px;
    /* top: 800px; */
    /* left: -150px; */
    bottom: 0;
  }
  .container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }
}
@media (min-width: 501px) {
  .container {
    transform: translate(0%, -110%); 
    height: 145px;
    width: 300px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 1000px 1000px 0 0;
    position: absolute;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    border: rgb(108, 108, 108) solid 0.7px;
    top: 800px;
    /* left: -150px; */
    bottom: 0;
  }
  .container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }
}
@media (min-width:801px) {
  .container {
    transform: translate(0%, 10%); 
    height: 300px;
    width: 600px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 1000px 1000px 0 0;
    position: absolute;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    border: rgb(108, 108, 108) solid 0.7px;
    top: 600px;
    /* left: -150px; */
  }
  .container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }
}


